<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TabNest</title>
</head>
<body>
    <header class="header">
        <div class="header__options">
            <div class="logo">
                <h1>
                    TabNest
                </h1>
            </div>
            <div class="header__search">
                <form action="/" method="POST" class="header__search__form">
                    <div class="search__input">
                        <input type="search" name="search" id="search" placeholder="Pesquisar...">
                    </div>
                    <div class="search__btn__form">
                        {{!-- <label for="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                            </svg>
                        </label> --}}
                        <input type="submit" name="submit" onclick="{{ onclick__search }}">
                    </div>
                </form>
            </div>
        </div>
        <div class="links">
            <div class="link main__route">
                <a href="/relevantes" class="main__route">Relevantes</a>
            </div>
            <div class="link">
                <a href="/inicio">Inicio</a>
            </div>
            <div class="link">
                <a href="/recentes">Recentes</a>
            </div>
        </div>
    </header>
    <section class="conteiner">
        <div class="conteiner__posts">
            {{#each posts}}
                <div class="conteiner__post">
                    <div class="informations__post">
                        <p class="username__post">{{nome}}</p>
                        <i>{{data}}</i>
                    </div>
                    <div class="title__post">
                        <h2>
                            {{titulo}}
                        </h2>
                    </div>
                    <div class="post__content">
                        <i>
                            <a style="color: white;" href="/post/{{id}}">
                                {{post}}
                            </a>
                        </i>
                    </div>
                </div>
            {{/each}}
        </div>
    </section>
</body>
</html>